// переменные
$color_footer: #232323; // цвет цвет футера
$main_color: #DC214C; // основной цвет банера
$color_text: #E1E0E3; // цвет текста
$color_text2:#939393;
$color_background: #EDEDED; // цвет фона

// GENERAL
body,h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;

}
body{
  color: $color_text;
}
li{
  list-style-type: none;
}
a{
  display: block;
  text-decoration: none;
}
// прижимаем футер
body{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-size: 18px;
}
.wrapper{
  flex:1;
  position: relative;
  padding: 30px;
  padding-left: 7%;
  background-color: #f7f7f7;
  min-height: 600px;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff3562' fill-opacity='0.42'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


// Подключаем примеси и остальные стили
@import 'mixins/mixins';
@import 'common/_navigation';
@import 'common/_overlay.navigation';
@import 'common/_sidebar';
@import 'common/admin.section.header';
@import 'common/admin.section.content';
@import 'common/main.section.content';
@import 'common/main.section.header';
@import 'common/main.section.img';
@import 'common/galery.section.header';
@import 'common/galery.section.content';
@import 'common/goods.section.header';
@import 'common/goods.section.content';
@import 'common/contacts.section.header';
@import 'common/contacts.section.content';
@import 'common/contacts.section.map';
@import 'common/_footer';
