// переменные
$color_footer: #232323; // цвет цвет футера
$main_color: #DC214C; // основной цвет банера
$color_text: #E1E0E3; // цвет текста
$color_text2:#939393;
$color_background: #EDEDED; // цвет фона

// GENERAL
body,h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;

}
body{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-size: 18px;
}
li{
  list-style-type: none;
}
a{
  display: block;
  text-decoration: none;
}

.wrapper{
  flex:1;
  position: relative;
}


// Подключаем примеси и остальные стили
@import 'mixins/mixins';
@import 'common/_navigation';
@import 'common/_sidebar';
@import 'common/main.section.content';
@import 'common/main.section.header';
@import 'common/main.section.img';
@import 'common/galery.section.header';
@import 'common/galery.section.content';
@import 'common/_footer';
