- var contacts = [{icon:'fa fa-map-marker', descr:'Н.Тагил ул.Захарова 1а'},{icon:'fa fa-phone', descr:'8 902 270 96 92'},{icon:'fa fa-envelope-o', descr:'mymail@mail.com'}]
- var navigation = [{url:'index.html', menu:'Главная'},{url:'galery.html', menu:'Галерея'},{url:'goods.html', menu:'Товары для творчества'},{url:'contacts.html', menu:'Контакты'},{url:'info.html', menu:'Информация'}]
footer
  .l-contacts__container
      ul.c-contacts__list
        each contact in contacts
          li.c-contacts__item
            .c-contacts__icon-wrapper
              i(class=contact.icon aria-hidden="true").c-contacts__icon
            .c-contacts__descr=contact.descr
  .l-footer-menu__container
      ul.c-footer-menu__list
        each item in navigation
          li.c-footer-menu__item
            a(href=item.url).c-footer-menu__link=item.menu
