-var products = [1,2,3,4,5,6]
.c-galery__content
  each product in products
    .c-card__container
      .c-card__front 
        .c-card__overlay Подробнee
        img(src=`./assets/img/img_${product}.JPG`).c-card__image
      .c-card__back
        h2 skdhglks
