.l-goods__wrapper
  .c-goods__menu-categories
    ul.c-goods__menu-categories-list
      each item in locals
        li(id=`${item.id}`).c-goods__menu-categories-item
          a(href='#').c-goods__menu-categories-link=item.category
        
  .c-goods__container
    h2.c-goods__prompt Выберите категорию
    each item in locals
      div(class=`${item.id}`).c-goods__category-list
        ul.c-goods__category
          each p in item.items
           li.c-goods__category-item=p
    button.c-goods__button
      a(href='#') Узнать о наличии
