.c-content__container
  .c-content__information
    .information__block
      h4.information__title Работаем под заказ
      p.information__descr Все излелия представленные в нашем магазине, можно изготовить с учетом ваших пожеланий.
    .information__block
      h4.information__title Доставка по городу
      span.information__delivery Вагонка, ГГМ, Центр-50р
      span.information__delivery Выя, Кр.Камень, Тагилстрой-100р   
    .information__block
      h4.information__title Проводим мастер классы
      p.information__descr  Если Вы хотите научиться создавать карсоту своими руками, то специально для Вас мы регулярно проводим мастер классы.
    .information__block
      h4.information__title Сотрудничаем с мастерами
      p.information__descr Если Вы создаете оригинальные вещи, у вас есть возможность выставить их у нас магазине. (подробности по телефону или в наших группах в соц.сетях)
