.c-main-content__wrapper
  .c-content__row
    .c-content__block
      .c-content__block-img-wrapper
        .c-content__block-img-wrapper-inner
          .c-content__block-img
    .c-content__block
      h2.c-content__block-description Самые крутые поделки
  .c-content__row
    .c-content__block
        h2.c-content__block-description Мы регулярно проводим мастер клачссы
    .c-content__block
      .c-content__block-img-wrapper
        .c-content__block-img-wrapper-inner
          .c-content__block-img
