.c-sidebar{
  position: fixed;
  height: 100vh;
  padding:10px;
  text-align: center;
  background: #A03333;
  box-shadow: 3px 0 8px #282828;
  z-index: 30;
  @include laptop{
    display: none;
  };
}
.c-sidebar__menu{
  transition: 0.4s;
  &:hover{
    cursor: pointer;
    color: #fff;
    margin-right: 6px;
  }
}
