.form__container{
  padding: 20px;
}
.form__input-line{
  display: block;
  margin: 10px;
}
.form__subtitle{
  margin: 10px;
  margin-bottom: 30px;
}
.form__btns{
  margin: 10px;
}
.form__btn-send,.form__btn-reset{
  display: inline-block;
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}
.form__btn-send{
  background: green;
}
