.c-content__container{
  width: 100%;
  min-height: 300px;
  padding: 5px;
  height: 100%;
  margin: 0 auto;
}

.c-content__contacts{
  width: 100%;
  background: #fff;
  font-size: 1.8rem;
  height: 100%;
}
.c-contact__link{
  font-size: 1.2rem;
  font-style: italic;
}
