.c-content__container{
  width: 100%;
  min-height: 300px;
  padding: 5px;
  height: 100%;
  margin: 0 auto;
}

.c-content__contacts{
  width: 90%;
  background: #fff;
  font-size: 1.8rem;
  height: 90%;
  padding: 40px;
  color: $color_text2;
  @include laptop{
    padding: 20px;
  };
}
.c-content__title{
  font-size: 1.3rem;
}
.c-contact__link{
  font-size: 1.2rem;
  font-style: italic;
  display: block;
  width: 10%;
}
.c-contact__link i{
  font-size: 2rem;
  margin-top: -10px;
  margin-left: 10px;

}
.c-content__list{
  margin-top:50px;
}
.c-content__item{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.c-content__item span{
  font-size: 1rem;
}
// стили для формы
.c-form{
  width: 50%;
  font-size: 1.1rem;
  margin-top: 50px;
  padding: 20px;
  background: $color_text;
  border-radius: 5px;
  @include tablet{
    width: 87%;
  };
}
.c-form__input{
  border: none;
  border-bottom: 2px solid $color_text2;
  outline: 0;
  background: $color_text;
  &:focus{
    + .c-form__label{
      transform: translateY(-30px);
      opacity: 0.5;
    }
  }
}
.c-form__field{
  position: relative;
  margin: 30px 0;
  width: 45%;
  margin-right: 20px;
  @include tablet{
    width: 100%;
    margin: 20px 0;
  };
}
.c-form__field_submit {
  width: auto;
  margin: 0;
  margin-top: 40px;

}
.c-form__field_submit input{
  padding: 10px 20px;
  background: $main_color;
  border: none;
  border-radius: 3px;
  box-shadow: -3px 3px 7px #CDCDCD;
  cursor: pointer;
  outline: 0;
  color: $color_text;
}
.c-form__textarea{
  width: 100%;
  position: relative;
  margin-top: 20px;
  @include tablet{
    margin-top: 20px;
  };
}
.c-form__textarea textarea{
  width: 100%;
}
.c-form__label{
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.c-form__row{
  display: flex;
  flex-direction: column;
  @include tablet{
    flex-direction: column;
  };
}
