.c-galery__content{
  padding: 80px;
  margin-right: 0;
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff3562' fill-opacity='0.42'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  @include mobile{
    margin:20px 0;
    text-align: center;
  };
}
.c-card__container{
  position: relative;
  display: inline-block;
  width: 31%;
  margin:10px;
  height: 200px;
  transition: all 0.2s;
  cursor: pointer;

  @include laptop{
    width:45%;
  };
  @include mobile{
    width: 80%;
    margin: 10px;
  };
}
.c-card__front{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DDDED7;
  box-shadow: -10px 10px 17px #CDCDCD;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}
.c-card__overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  color: $color_text;
  text-align: center;
  padding-top: 30%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.4s;
  &:hover{
    opacity: 1;
  }
}
.c-card__image{
  height: 100%;
}
// modal window styles
.c-modal__container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.c-modal__image-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.c-modal__image{
  height: 80%;
  box-shadow: 0px 5px 25px #000;
  @include centred();

}
