.c-galery__content{
  position: relative;
  @include mobile{
    margin:20px 0;
    text-align: center;
  };
}
.c-card__container{
  position: relative;
  display: inline-block;
  width: 31%;
  margin:10px;
  height: 200px;
  transition: all 0.2s;
  cursor: pointer;

  @include laptop{
    width:45%;
  };
  @include mobile{
    width: 80%;
    margin: 10px;
  };
}
.c-card__front{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DDDED7;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  &:hover{
    box-shadow: -10px 10px 17px #B9B9B8;
    margin-left: -2px;
    margin-top: -3px;
  }
}
.c-card__overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  color: $color_text;
  text-align: center;
  padding-top: 30%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.4s;
  &:hover{
    opacity: 1;
  }
}
.c-card__image{
  height: 100%;
}
// modal window styles
.c-modal__container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.c-modal__image-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: zoom 0.4s;
}
.c-modal__image{
  height: 80%;
  box-shadow: 0px 5px 25px #000;
  @include centred();

}
// modal image animation
@keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
// boorger
.modal__burger{
  position: absolute;
  top: 0;
  right: 0;
  margin: 3%;
  z-index: 20;
}
.m_bar1,.m_bar3{
  width: 25px;
  height: 3px;
  background-color: $color_text;
  margin: 6px 0;
}
.m_bar1{
  transform: rotate(-45deg) translate(-1px, 1px);
}
.m_bar3{
  transform: rotate(45deg) translate(-5px, -6px);
}
