.c-content__information{
  margin: 20px 0;
}
.information__block{
  margin-bottom: 20px;
}
.information__title{
  margin-bottom: 10px;
}
.information__descr, .information__delivery{
  font-size: 1rem;
  margin-left: 1%;
}
.information__delivery{
  display: block;
}
