.c-image{
  height: 300px;
  overflow: hidden;
  background-image: url("https://img3.goodfon.ru/original/1920x1080/7/3e/koshki-milye-kotiki.jpg?d=1");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-image img{
  width: 100%;
}
